p{
    color: black;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 20px;
    
}
p.title{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    height: 30%;
    width: 30%;
    border-radius: 15px;
    margin-left: 35%;
}